@charset "UTF-8";
:root {
  --white: #ffffff;
  --white-bgc: #ffffff;
  --active: #2196f3;
  --black: #000000;
  --dark-bgc: #2f303a;
  --title-text: #212121;
  --primary-text: #757575;
  --gray-bgc: #f5f4fa;
  --client-logo: #AFB1B8;
  --contacts: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* html style */
body {
  color: var(--primary-text);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

ul {
  list-style: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
}

.container .main-nav {
  padding-top: 24px;
  padding-bottom: 25px;
}

.flexbox {
  display: flex;
}

.page-header {
  background-color: #fff;
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  color: var(--black);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  color: var(--active);
}

.logo {
  margin-right: 93px;
}

/* button {
  font-family: inherit;
} */
/* навигация по сайту */
.site-nav {
  display: flex;
}

.main-nav {
  display: flex;
}

.site-nav .link {
  color: var(--black);
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32;
  padding-bottom: 32;
}

.site-info .link {
  color: var(--primary-text);
  text-decoration: none;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

/* Подстветка текущей страницы */
.site-nav .link.current {
  color: var(--active);
}

.site-info .list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-info {
  display: flex;
}

.site-info .item {
  margin-right: 50px;
}

.site-info .item:last-child {
  margin-left: 0px;
  margin-right: 0;
}

/* hero */
.hero {
  text-align: center;
  /* background-color: var(----dark-bgc); */
  padding-top: 200px;
  padding-bottom: 200px;
  text-transform: uppercase;
}

.hero-bg .hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../css/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  color: var(--white);
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

/* Section */
/* подсветка синим при наведении */
.site-nav .link:hover,
.site-nav .link:focus,
.site-info .link:hover,
.site-info .link:focus {
  color: var(--active);
}

.team {
  padding-top: 93px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
}

/*галерея*/
.gallery h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text);
}

.work-photo {
  width: calc((100% - 30px * 2) / 3);
}

.work-photo:not(:last-child) {
  margin-right: 30px;
}

.work-photo {
  position: relative;
}

.gallery-text {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.gallery-bgc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Features */
.feature-list .title {
  color: var(--title-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* margin-top: 0;
  margin-bottom: 10; */
.feature-list .link {
  color: var(--primary-text);
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section.feature {
  padding-top: 94px;
  padding-bottom: 0;
}

.feature-list .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Кнопка */
.primary-button {
  color: var(--white);
  background-color: var(--active);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200;
  border: 1px solid transparent;
}

/* Кнопки на странице Портфолио */
.button.link {
  color: var(--title-text);
  background-color: var(--gray-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.section.team {
  text-align: center;
}

.team {
  background-color: var(--gray-bgc);
}

button.link:hover,
.button.link:focus {
  color: var(--white);
  background-color: var(--active);
}

/* Фуутер */
.page-footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--white);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  color: var(--active);
}

.address {
  color: var(--white);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-nav .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.hidden {
  display: none;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-info {
  width: 270px;
}

.footer-address .link {
  display: inline-block;
  margin-top: 9px;
}

.footer-address .text {
  margin: 0;
}

/* Portfolio */
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttoms {
  margin-bottom: 50px;
}

.section.buttoms {
  padding-top: 0;
  padding-bottom: 0;
}

.portfol {
  display: flex;
  flex-wrap: wrap;
}

.portfol-link {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfol .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfol .item:nth-child(3n) {
  margin-right: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-nav .item:not(:last-child) {
  margin-right: 8px;
}

.portfol .text {
  margin: 0;
  color: var(--primary-text);
  font-size: 16px;
  line-height: 1.87;
}

.portfol .section-links {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Оформительный контент */
.item.description::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--gray-bgc);
}

.icon-antenna::before {
  background-image: url(../css/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../css/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../css/svg/grafic.svg);
}

.icon-astronaut::before {
  background-image: url(../css/svg/astronaut.svg);
}

.post {
  display: inline-flex;
  align-items: center;
}

.icon-e-mail {
  width: 16px;
  height: 12px;
  fill: var(--primary-text);
  margin-right: 10px;
}

.site-info .post:hover .icon-e-mail {
  fill: var(--active);
}

.telephon {
  display: inline-flex;
  align-items: center;
}

.tel-number {
  width: 10px;
  height: 16px;
  fill: var(--primary-text);
  margin-right: 10px;
}

.site-info .telephon:hover .tel-number {
  fill: var(--active);
}

/* Наши клиенты */
.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.social-list.item.link {
  fill: var(--client-logo);
}

.clients-list .link:hover {
  border-color: var(--active);
}

.icon {
  --color1: var(--client-logo);
}

.icon:hover {
  --color2: var(--active);
  --color1: var(--active);
}

.feature-list .item:not(:last-child),
.examples-list .item:not(:last-child),
.team .item:not(:last-child),
.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .item {
  flex-basis: calc((100% - 5 * 30px) / 6);
}

/* социальные сети */
.feature-list-workers > .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-bgc);
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list .icon {
  width: 20px;
  height: 20px;
  fill: var(--client-logo);
}

.social-list .icon.link:hover {
  color: var(--white);
  background-color: var(--active);
}

.social-list .link:hover .icon {
  fill: var(--white);
}

.social-list .link:hover {
  background-color: var(--active);
}

.social-list .item:not(:last-child) {
  margin-right: 10px;
}

.feature-list-workers .social-list {
  margin-bottom: 30px;
  justify-content: center;
}

/* footer social */
.footer-social .text {
  display: block;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}

.footer-social .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.link {
  text-decoration: none;
}

/*страница портфолио*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-button {
  display: block;
  border-color: var(--active);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-text);
  background-color: var(--gray-bgc);
  border-color: var(--gray-bgc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--active);
}

.filter-button:hover {
  background-color: var(--active);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.team-name {
  color: var(--title-text);
}

.portfolio {
  width: calc((100% - 30px * 2) / 3);
  background: #FFFFFF;
}

.portfolio-link {
  display: block;
  width: 100%;
  background-color: var(--white);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio {
  margin-bottom: 20px;
}

.portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link .work-desc {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  text-align: left;
}

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box {
  padding: 0;
  margin: 0;
  list-style: none;
}

.overlay {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .work-desc {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-link:hover .overlay-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
}

.overlay-text {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  z-index: 30;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 750ms var(--timing-function);
  width: 528px;
  height: 581px;
  background: var(--white-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 16px;
}

.form {
  margin: 40px;
  background: var(--white-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 14px;
  padding-left: 42px;
  outline: none;
}

.modal-form-input:focus {
  border: 1px solid var(--active);
  border-width: 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  outline: none;
}

.modal-form-input:focus + svg {
  fill: var(--active);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-form-textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal-form-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form-field.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-link {
  color: var(--active);
  border-bottom: 1px solid var(--active);
  display: inline-block;
  line-height: 0.85;
}

.form-label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field-icon {
  position: absolute;
  top: 29px;
  left: 14px;
  height: 18px;
  width: 18px;
}

.modal-form-input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-box {
  position: absolute;
  background-image: url(../images/Vector.svg);
  width: 16px;
  height: 15px;
  left: 30px;
}

.modal-form-input-checkbox:checked + .check-box {
  background-image: url(../images/check.svg);
  fill: var(--white);
  background-color: var(--active);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-form-textarea:focus {
  border: 1px solid var(--active);
  border-width: 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  outline: none;
}

.submit-button {
  width: 200px;
  height: 50px;
  background: var(--active);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin-left: 124px;
}

.submit-button:focus,
.submit-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.close-button {
  position: absolute;
  font-size: 15px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
}

.close-button:hover,
.close-button:focus {
  color: var(--active);
}

/*  Форма-футер  */
.form-input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0 20px;
  background-color: transparent;
}

.footer-title {
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
  margin-left: 815px;
}

.footer-part.joining.sighning {
  display: flex;
}

.sign-in-button {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--active);
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.form-button-icon {
  height: 24px;
  width: 24px;
  padding-left: 10px;
  fill: var(--white);
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-left: 815px;
}

.form-window {
  padding-right: 12px;
}
/*# sourceMappingURL=main.css.map */