$white: #ffffff;
$white-bgc: #ffffff;
$active: #2196f3;
$black: #000000;
$dark-bgc: #2f303a;
$title-text: #212121;
$primary-text: #757575;
$gray-bgc: #f5f4fa;
$client-logo: #AFB1B8;
$contacts: rgba(255, 255, 255, 0.6);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);